{
  "TOKEN": "Nzc2ODMwNTI1NzA0MTEwMTMx.X66lzg.umFmFuJbe9lQAjRWf9Q73u29mVo",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "STAY_TIME": 30
}
